body {
  margin:0;
  min-height:100vh;
  display:flex;
  justify-content:center; /* Centers content horizontally */
  align-items:center;     /* Centers content vertically */
  background: url('/images/background.jpg') center / cover no-repeat;

}
h1{
    color:rgb(67, 56, 18);
    text-decoration:underline;
}
.container{
    font-family: "Comic Sans MS", sans-serif;
    place-items:center;
    border:3px solid rgb(155, 103, 162);
    border-radius:10px;
    width:500px;
    height:auto;
    background: rgb(143, 129, 213);
    text-align:center;
}
button{
    color:rgb(7, 29, 7);
    font-style: bold;
    background: rgb(129, 194, 198);
}
.box{
    border:5px solid red;
}
.contain{
    gap:10px;
}